<div class="container service-show-container">

	<h2><%= @service.name %></h2></br>
	<%= @service.description %>
	</br>
	</br>
	</br>
	</br>
	<p>Call USA Electrical Systems, your Los Angeles electrician, today to schedule a appointment to have the new appliance, hot tub, sauna, or pool pump hooked up.
	</p>
	</br>
 	<h2>Call Now! 800-000-0000</h2>
</div>