<div class="container">
	<div class ="jumbotron">

		<h2>Greetings from USA Electrical Systems</h2>
		</br>
		<h3>We're Your Trusted Los Angeles Electrician!</h3>
		</br>
		<p>There’s a good chance you’re here because you have an electrical problem. Maybe you would like to make your home the envy of your neighbors by adding indoor or outdoor lighting. What about home theater equipment, a home automation system, or any of the TOP-OF-THE-LINE products we can supply and install for you?
		</br>
		</br>
		Whatever your needs are, we have a professional technician ready to make your home safer, more beautiful, more comfortable, and more valuable!
		</p>
	</div>


</div>